
MirrorMovingPad/bin/assimp.dll
MirrorMovingPad/bin/fmodex.dll
MirrorMovingPad/bin/fmodexL.dll
MirrorMovingPad/bin/FreeImage.dll
MirrorMovingPad/bin/freetype.dll
MirrorMovingPad/bin/glut32.dll
MirrorMovingPad/bin/libeay32.dll
MirrorMovingPad/bin/MirrorMovingPad.exe
MirrorMovingPad/bin/MirrorMovingPad.exp
MirrorMovingPad/bin/MirrorMovingPad.lib
MirrorMovingPad/bin/ssleay32.dll
MirrorMovingPad/bin/Zlib.dll
MirrorMovingPad/MirrorMovingPad.VC.db
MirrorMovingPad/MirrorMovingPad.VC.VC.opendb
MirrorMovingPad/obj/Release/icon.res
MirrorMovingPad/obj/Release/IpEndpointName.obj
MirrorMovingPad/obj/Release/main.obj
MirrorMovingPad/obj/Release/MirrorMovingPad.log
MirrorMovingPad/obj/Release/MirrorMovingPad.tlog/CL.command.1.tlog
MirrorMovingPad/obj/Release/MirrorMovingPad.tlog/CL.read.1.tlog
MirrorMovingPad/obj/Release/MirrorMovingPad.tlog/CL.write.1.tlog
MirrorMovingPad/obj/Release/MirrorMovingPad.tlog/link.command.1.tlog
MirrorMovingPad/obj/Release/MirrorMovingPad.tlog/link.read.1.tlog
MirrorMovingPad/obj/Release/MirrorMovingPad.tlog/link.write.1.tlog
MirrorMovingPad/obj/Release/MirrorMovingPad.tlog/MirrorMovingPad.lastbuildstate
MirrorMovingPad/obj/Release/MirrorMovingPad.tlog/MirrorMovingPad.write.1u.tlog
MirrorMovingPad/obj/Release/vc140.pdb
MirrorMovingPad/obj/Release/tinyxmlparser.obj
MirrorMovingPad/obj/Release/UdpSocket.obj
MirrorMovingPad/obj/Release/tinyxmlerror.obj
MirrorMovingPad/obj/Release/tinyxml.obj
MirrorMovingPad/obj/Release/OscTypes.obj
MirrorMovingPad/obj/Release/OscReceivedElements.obj
MirrorMovingPad/obj/Release/OscPrintReceivedElements.obj
MirrorMovingPad/obj/Release/OscOutboundPacketStream.obj
MirrorMovingPad/obj/Release/ofxXmlSettings.obj
MirrorMovingPad/obj/Release/ofxToggle.obj
MirrorMovingPad/obj/Release/ofxSliderGroup.obj
MirrorMovingPad/obj/Release/ofxSlider.obj
MirrorMovingPad/obj/Release/ofxPanel.obj
MirrorMovingPad/obj/Release/ofxOscSender.obj
MirrorMovingPad/obj/Release/ofxOscReceiver.obj
MirrorMovingPad/obj/Release/ofxOscParameterSync.obj
MirrorMovingPad/obj/Release/ofxOscMessage.obj
MirrorMovingPad/obj/Release/ofxOscBundle.obj
MirrorMovingPad/obj/Release/ofxLabel.obj
MirrorMovingPad/obj/Release/ofxGuiGroup.obj
MirrorMovingPad/obj/Release/ofxButton.obj
MirrorMovingPad/obj/Release/ofxBaseGui.obj
MirrorMovingPad/obj/Release/ofApp.obj
MirrorMovingPad/obj/Release/NetworkingUtils.obj
MirrorMovingPad/obj/Release/MirrorMovingPad.tlog/rc.write.1.tlog
MirrorMovingPad/obj/Release/MirrorMovingPad.tlog/rc.read.1.tlog
MirrorMovingPad/obj/Release/MirrorMovingPad.tlog/rc.command.1.tlog
/MirrorMovingPad/obj
MirrorMovingPad/.vs/MirrorMovingPad/v14/.suo
MirrorMovingPad/obj/Release/MirrorMovingPad.vcxprojResolveAssemblyReference.cache
/MirrorMovingPad/src/*.TMP
